//= require reset

body {
  font: 16pt/1.4em Palatino, serif;
  margin: 2em auto;
  width: 80%;
}

em {
  color: #ccc;
  font-style: italic;
  font-size: 0.8em;
}

h1, h2 {
  line-height: 1em;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

h3 {
  color: #ccc;
  font-size: 0.8em;
  margin-right: 1em;
}

p {
  margin: 0 1em 1em 0;
}