<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Rubaiyat of Omar Khayyan</title>
    <%= stylesheet_link_tag "book" %>
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>